<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pcsma.events.iiitd.pcma_project" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyA1UPLuYnTN9lsP0igHBAbvwrpB0mYSP74" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PopulatingEvents"
            android:label="@string/title_activity_populating_events" >
        </activity>
        <activity
            android:name=".activity.ProfilePage"
            android:label="@string/title_activity_profile_page" >
        </activity>
        <activity
            android:name=".activity.DescussionPage"
            android:label="@string/title_activity_descusion_page" >
        </activity>
        <activity
            android:name=".activity.EventsDescription"
            android:label="@string/title_activity_events_description" >
        </activity>
        <activity
            android:name=".activity.MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".activity.CalenderPage"
            android:label="@string/title_activity_calender_page" >
        </activity>
        <activity
            android:name=".activity.SettingsPage"
            android:label="@string/title_activity_settings_page" >
        </activity>
        <activity
            android:name=".activity.AboutUs"
            android:label="@string/title_activity_about_us" >
        </activity>
    </application>

</manifest>
